object{
  margin-left: -5px;
}
.frame{
  enable-background:new 0 0 100 100;
  float: left;
}
.frame text{
  font-family:'Helvetica';
  font-size:16px;
}
.frame-container{
  fill:#CECECE;
  stroke:#000000;
  stroke-miterlimit:10;
}
.divider{
  fill:none;
  stroke:#000000;
  stroke-width: 0.5px;
  stroke-miterlimit:10;
}