table,
td {
  border: 1px solid black;
  text-align: center;
  vertical-align: middle;
}

td {
  width: 2em;
  height: 1em;
}

.players {
  list-style: none;
}

.pins-controller {
  list-style: none;
}

.pins-controller li {
  display: inline;
}
